@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center mb-4">
        <h3 class="display-4">Welcome!</h3>
    </div>

    <div class="text-center">
        <form asp-action="Vote" method="post">
            <button type="submit" class="btn btn-primary" asp-action="Vote" asp-controller="Home">Click to Vote!</button>
        </form>
    </div>
</div>